.table-cate {
    width: 900px;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

.table-cate tr, .table-cate td, .table-cate th {
    border: 1px solid black;
    padding: 16px;
}
